<h1 class="mt-4 mb-3"><%= pagetitle %>
  <% if (locals.pagesubtitle) { %> 
    <small><%= pagesubtitle %></small>
  <% } %>
</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Home</a>
  </li>
  <li class="breadcrumb-item active"><%= pagetitle %></li>
</ol>